.titulo{
	text-align: center;

	&__unico{
		color: $color1;
		font-size: 1.6em;
		margin-bottom: .2em;
	}

	@include desde(tablet){
		&__unico{
			color: $color1;
			font-size: 2.25rem;
			margin-bottom: .2em;
		}
	}
	&__en3{
		color: $color1;
		font-size: 1.31rem;
		margin: 0 0 .2em 0;

	}
	span{
		font-size: 4rem;
		padding: 0 .3em;
		line-height: 1;
		color: lighten($color1, 20%);
	}
}

/*
-----------------------------------------BENEFICIOS----------------------------------------------------------
*/
.contenedor{
	position: relative;
	a{
		text-decoration: none;
	}
}
.beneficios{
	&__img{
		padding-top: 2em;
		padding-bottom: 1em;
		max-width: 75%;
		height: auto;
	}
	&__info{
		position: absolute;
		background: rgba(#c6c4c4, .5) ;
		font-size: 1.125rem;
		width: 100%;
		height: 100%;
		z-index: 20;
		display:none;
		line-height: 2;
	}
	&__img span{
		border-radius: 50%;
		background-color: white;
	}

}
.pasos{
	text-align:center;
	background: lighten($color1, 30%);
	font-size: 1.25rem;
	line-height: 4;
	margin: 0 1.9em !important;

	&:hover{
		background: $color1;
		color: white;
		cursor: pointer;
	}

}
.banner2{
	position:relative;
	width:100%;
	background-color: $color1;
	height: 118px;
	margin-top:5em;

	&__p{
		text-align: center;
		color: white;
		font-size: .7em;
		font-weight: $bold;
		padding-top: 3em;
	}

	@include desde(tablet){
		&__p{
		text-align: center;
		color: white;
		font-size: 1.5rem;
		font-weight: $bold;
		padding-top: 1.5em;
		}
	}
}
.banner3{
	position:relative;
	width:100%;
	background-color: $color2;
	height: 118px;
	margin-top:3em;
	color:white;
}
.triangulo-down-magenta{
	max-width:2px;
	max-height:1px;
	border:20px solid;
	border-color: $color2 transparent transparent transparent;
	position:absolute;
	top:-5px;
	right: 0;
	left:0;
	margin: auto;

}
.salto{
	margin-top: 1em;

	p{
		font-size: .9rem;
		text-align: center;
		padding: 1em 1em;
	}

	@include desde(tablet){

		p{
			text-align: left;
			margin: 0 3em;
		}
	}
}
/*ESTE ESTILO SIRVE PARA REDONDEAR CUALQUIEL IMAGEN SEA CUADRADA O RECTANGULAR--- ESTE ES EL CONTENEDOR DE LA IMAGEN, NO LA IMAGEN EN SI*/
.redondear {
    /* cambia estos dos valores para definir el tamaño de tu círculo */
    height: 250px;
    width: 250px;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    background-position: 50% 50%;  /* ESTE SIRVE PARA MOVER EL EJE DE LA IMAGEN*/
    border-radius: 50%;
    background-size: 130% auto;
    border:2px solid #c6c4c4;
}
.titulo__venoso{
	color: $color1;
	font-size: 2.25rem;
	margin-top: 2em;
	border: 2px solid;
	border-color: #dddddd transparent transparent transparent;
	padding: 1em 0 0 0;
}
.bloque-gris{
	background-color: #dddddd;
	border-radius: 15px;
	padding: 2em 0;
	
	
	.redondear{
		margin-bottom:1.5em;
		height: 200px;
    	width: 200px;
    	background-position: 45% 15%;
	}
	p{
		line-height: 2;
		padding: 0 1em;
	}

	@include desde(web){
		padding: 2em 1em;
		margin: 0 2em;
	}
}


.side-info{
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: 100% 20%;
	p{
		padding-right:17em;
		padding: 1em 17em 5em 0;
		line-height: 1.4;
		font-size: .85rem;
	}
}
.banner-m{




	&__h2{
		color:white;
		font-size: 2rem;
		text-align: center;
		margin: 0;

	}
	&__numeros{
		color:white;
		text-align: center;
		font-size: 2em;
		margin: 0; 
		line-height: 1;
	}

	@include desde(tablet){

		&__numeros{
			font-size: 3.27rem;
		}
	}



	&__horas{
		text-align: center;
		line-height: 1;
	}
	@include desde(web){
		&__h2{
				font-size: 3.27rem;
				line-height: .6;
				text-align: left;
				margin: .8em 0 0 0 ;
		}
		&__numeros{
				color:white;
				text-align: right;
				font-size: 3.27rem;
				margin: .4em 0 0 0; 
				line-height: 1;
		}
		&__horas{
			text-align: right;
			line-height: 1;
		}

	}


	
	
}
.solucion{
	&__h2{
		color: $color2;
		text-align:center;
		font-size: 2.25rem;
		margin-top: .4em;
	}
	p{
		text-align: center;
	}
}

.ellas__h2{
	text-align:center;
	color:white;
	margin:.5em 0 0 0 ;
	font-size:1.6em;


	@include desde(web){
		font-size: 2.56rem;
		margin:.7em 0 0 0 ;
	}
}

.testimonio__img,
.testimonio__img__2,
.testimonio__img__3{
	

	margin:3em 0;
	width:200px;
	height:200px;

    background-repeat: no-repeat;
      /* ESTE SIRVE PARA MOVER EL EJE DE LA IMAGEN*/
    border-radius: 50%;
    
    border:2px solid #c6c4c4;	
}
.testimonio__img{

	background-size: 100% auto ;
	background-position: 50% 10%;
}
.testimonio__img__2{
	background-size: 100% auto ;
	background-position: 50% 10%;
}
.testimonio__img__3{
	background-size: auto 100% ;
	background-position: 90%;
}

.testimonio{
	p{
		font-size: 1rem;
		padding: 0 1em;
	}
}

/*
/////////////////////////// BANNER DE PROVALO VOS TAMBIÉN///////////////////////////////////////////////
*/
.probalo{
	top:0;
	
	&__h2{
		color:white;
		font-size: 1.4em;
		margin: 1em 0;
		line-height: 1;
		text-align: center;
	}
	&__hh{
		text-align: center;
		font-size: 2rem;
		margin: 0;
		line-height: 1;
	}
	&__p{
		text-align: center;
		margin: 0;
		padding-top: .7em;
		font-size: 1.25rem;
		color: black;
	}

	@include desde(movil){
		&__h2{
			font-size: 2rem;
			margin:.5em 0;
		}
	}


	@include desde(web){

		&__hh{
				color:white;
				text-align: right;
				font-size: 3.35rem;
				margin: 0;
				line-height: 1;
			}
		&__p{
			text-align: right;
			color:white;
			padding-right:4.5em;
		}
		&__h2{
			color:white;
			font-size: 2.09rem;
			margin: .8em 0 0; 
			text-align: left;
		}
	}


	span{
		font-size: 1.6rem;
	}
}	


.call{

	background-size:  auto 100% ;
	background-position: 80%;
	width:330px;
	height:330px;

    background-repeat: no-repeat;
    border-radius: 50%;

}
.magenta{
	width:100%;
	background-color: lighten($color2, 20%);
	padding: 2em 0;
	margin:0;
}

.banner4{
	background-color: $color2;
	position: relative;
	bottom:0;
	margin: auto 0;
	padding: 1em;
	color:white;

	h3{
		text-align: right;
		color:white;
		font-size: 1.25rem;
	}
	p{
		border-top: 1px solid white;
		padding-top: .5em;
		font-size: .6rem;
		text-align: right;
	}
	a{
		color:#ccc;
	}
}


/*
///////////////////////// SOLUCION NATURAL//////////////////////////////////////////
*/
.solucion--img{
	margin-bottom:1.5em;
	height: 120px;
    width: 120px;
    background-position: 50%;
	background-size: auto 100%;
	background-repeat: no-repeat;
	border-radius: 15px;
	border: 1px solid #ccc;
}






//////////////////////////////lightbox////////////////////////////////////////////////

.lightbox { 
	display: none;
	outline: none;
	position: absolute;
	top: 0;
	left:0;
	right:0;
	bottom:0;
	margin: auto auto;
	text-align:center;
	background: #222222;
	height: 100%;	
	width: 100% ;	
	box-sizing: content-box;
	z-index:20;
	


	.contenido-light{
		width: 50%;
		height: auto;
		top: 0;
		left:0;
		right:0;
		bottom:0;
		margin: auto auto
	}
	p{
		color:rgba(white,.7);
		font-size: 1.5rem;
	}
}
.close {
	display: block;
	top: 0px;
	right:0px;
	padding: 2em 2em;
	color: #FFFFFF;
	text-decoration:none;
	font-size: 20px;
	text-align:right;
}
#up1:target { display: block;}
#up2:target { display: block;}
#up3:target { display: block;}